* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background: #fff;
}

.container {
    background: #f0f2f5;
    padding-top: 72px;
    padding-bottom: 165px;
}

.content {
    width: 980px;
    margin: 20px auto;
}

.content>div {
    display: inline-block;
    vertical-align: top;
}

.left-content {
    width: 580px;
    padding-right: 32px;
    box-sizing: border-box;
}

.f-logo {
    margin: 112px 0 16px;
}

.f-logo>img {
    height: 106px;
    margin: -28px;
}

.f-quote {
    font-family: Tahoma;
    font-size: 27.5px;
    font-weight: 500;
    color: #333;
    letter-spacing: 0.5px;
}

.card {
    background: #fff;
    width: 396px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    padding: 10px 15px;
    box-sizing: border-box;
    margin-top: 40px;
}

::placeholder {
    color: rgba(58, 57, 57, 0.52)
}

.input-container>input[type=text],
.input-container>input[type=password] {
    width: 100%;
    padding: 14px 16px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    margin: 5px 0;
    font-size: 17px;
}

.input-container>input[type=text]:focus,
.input-container>input[type=password]:focus {
    border: 1px solid #1877f2;
    box-shadow: 0 0 0 2px #e7f3ff;
}

.input-container>input:focus::placeholder {
    opacity: 0.6;
}

.login-btn {
    background: #1877f2;
    color: #fff;
    border-radius: 6px;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    border: none;
    box-sizing: border-box;
    padding: 14px 16px;
    margin: 10px 0;
    cursor: pointer;
}

.forgot-password {
    text-align: center;
}

.forgot-password>a {
    font-family: Tahoma;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.3px;
    color: #1877f2;
    display: inline-block;
    margin: 5px 0;
    text-decoration: none;
    padding-bottom: 18px;
}

.forgot-password>a:hover {
    text-decoration: underline;
}

.divider {
    width: 97%;
    height: 1px;
    background: #e0dfdf;
}

.crt-new-ac {
    display: inline-block;
    background: #42b72a;
    border-radius: 6px;
    color: #fff;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: bold;
    font-size: 16px;
    margin: 25px 1px 15px 5px;
}

.crt-new-ac:hover {
    background: #3ba526;
}

.crt-page {
    color: #000;
    text-align: center;
    padding: 20px 0;
}

.crt-page>a {
    text-decoration: none;
    font-weight: bolder;
    color: #000;
}

.crt-page>a:hover {
    text-decoration: underline;
}

.f-footer {
    width: 980px;
    margin: 30px auto;
}

.f-footer>ul {
    margin-bottom: 10px;
    margin-top: 10px;
}

.f-footer>ul>li {
    display: inline-block;
    margin: 0 6px;
    color: #5a5959;
    font-size: 11px;
}

.f-footer>ul>li>a {
    text-decoration: none;
    color: #777;
    font-size: 12px;
}

.f-footer>ul>li>a>button {
    padding: 0px 8px;
    cursor: pointer;
}

.f-footer>ul>li>a:hover {
    text-decoration: underline;
}